@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-size: 18px;
	
	


}
body{
	font-family: 'Lato', sans-serif;
	color: #000099;
	line-height: 1.6;
	background-color: #000033;

}



ul{
	list-style-type: none;
}

a{
	text-decoration: none;
	color: #333;
	font-size: auto;
}

h1, h2 {
	
	line-height: 1.2;
	margin: 10px 0;
}

p{
	margin: 10px 0;
}



.logo{
	
	border-bottom: 2px gold solid;
}

.navbar {
	/*background-color: teal;*/
	background-image: url(backgrd.jpg);
	color: #fff;
	height: 150px;
}

.navbar ul{
	display: flex;
}

.navbar a {
	color: #fff;
	padding: 10px;
	margin: 0 5px;

}

.navbar a:hover{
	border-bottom: 2px gold solid;
}

.navbar .flex{
justify-content: space-between;
}

.container{
	max-width: 1400px;
	margin: 0 auto;
	overflow: auto;
	padding: 0 30px;
}

.flex{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.showcase{
	background-color: #1A237E;
	color: #fff;
	height: 250px;
}

/*
.showcase::before, .showcase::after{
	content: '';
	position: absolute;
	height: 100px;
	bottom: -70px;
	right: 0;
	left: 0;
	background-color: red;
	transform: skewY(-3deg);
}
*/

h3{
	padding: 10px;
	text-decoration: underline;
	font-weight: lighter;
	
}
h3 a{
	color: #fff;

}

.grid{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 30px;
	text-align: justify;
	font-size: auto;

}

h5{
	padding: 20px;
	text-align: left;
	

}

.projects div ul li {
 list-style-type: square;
 padding-left: 5px;
 color: #fff;
}

.projects div ul {
 padding: 10px;
}

.project-heading{
	font-size: auto;
	font-weight: lighter;
	text-align: left;
	color: #fff;

}


.projects{
	/*background-color: teal;*/
	height: auto;
	cursor: pointer;
}

#contact{
	
	height: 50px;
	color: #fff;

	padding: 0;
	margin: 0;
	overflow: auto;
	cursor: pointer;

}



.grid-four {
	display: grid;
	grid-gap: 30px;
	/*grid-template-columns: repeat(3, 1fr);*/
	/*grid-template-columns: auto 1fr 1fr; */
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

img{
	
	width: 350px;
	height: 350px;
	padding: auto;	
}

#project{
	color: #fff;;
	font-weight: lighter;
	

}
#contact{
	font-size: 20px;
	font-weight: 15px;
	text-decoration: underline 2px;
}

img:hover{
	transform: scale(1.1);
	transition: 0.3s ease-in-out;
	cursor: pointer;
}

h5{
	font-size: 15px;
	text-align: center;
	color: green;

}

.showcase{
height: auto;	
}

/* Tablets and under */


@media(max-width: 840px){
	.grid{
		font-size: auto;
	}
	.logo{
		font-size: auto;
	}
	a {
		font-size: auto;
	}
	#project{
		font-size: auto;
	}
	.contact div{
		font-size: auto;
	}
	.container div h5{
		font-size: auto;
		text-align: left;
	}

	#container footer div p {
	font-size: auto;	
	color: #fff;
	font-weight: lighter;
	}

	footer div p{
		height: auto;
		width: auto;

	}

	img{
	
	width: 300px;
	height: 300px;
	padding: 20px;	
	
}
footer, a, #email{

	padding: 0;
	font-size: auto;
	
	
}


.showcase div p {
		font-size: auto;

	}
.showcase{
height: auto;	
}

}



@media(max-width: 768px){
	.grid{
		font-size: auto;
	}
	.logo{
		font-size: auto;
	}
	a {
		font-size: auto;
	}
	#project{
		font-size: auto;
	}
	.contact div{
		font-size: auto;
	}
	.container div h5{
		font-size: auto;
		text-align: left;
	}
	

	img{
	
	width: 380px;
	height: 400px;
	padding: 20px;	
}

footer, a, #email{
	display: inline-grid;
	padding: 0;
	text-align: center;
	align-items: center;
}
}

@media(max-width: 487px){
	img{
	
	width: 350px;
	height: 400px;
	padding: 20px;	

}

#contact{
	font-size: auto;

}
 .showcase{
 	height: auto;
 }

footer, a, #email{

	padding: 0;
	text-align: center;
	align-items: center;
}

}



#email{
		text-align: right;

	}

.contact{
	font-size: auto;
	color: #fff;

}

footer, a{
	color: white;
}
